body {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: grid;
  grid-template-columns: 82px 1fr 82px;
  background-color: lightgoldenrodyellow;
  padding: 8px;
}

header>h1 {
  text-align: center;
}

header>a>img,
header>div {
  width: 82px;
}

body>nav {
  padding: 15px;
  background-color: thistle;
  display: flex;
  justify-content: center;
  gap: 10px;
}

main {
  padding: 30px;
  background-color: rgb(189, 216, 208);
}

main>p,
main>img {
  width: 60vw;
}

footer {
  padding: 20px;
  background-color: lavender;
}

footer>nav {
  display: flex;
  gap: 10px;
}

.form {
  width: 400px;
  height: 440px;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom: 2px solid slategray;
  color: darkslategray;
}

::placeholder {
  color: lightseagreen;
  opacity: 1;
}

input:focus {
  border-bottom: 2px solid darkslategray;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid darkslategray;
  background: 0;
  color: darkslategray;
  cursor: pointer;
  transition: all .3s
}

button:hover {
  background: darkslategray;
  color: #fff
}
